/.vscode
/.idea
/node_modules
.DS_Store
*.db
*.bak
*.tmp
*.cmd
~*

/pc-demo/node_modules
/pc-demo/.idea
/pc-demo/npm-debug.log
/pc-demo/dist
/pc-demo/src/home/node_modules
/pc-demo/src/common/node_modules

/pc-demo/src/home/output
/pc-demo/src/common/output