$top-height:30px;

.wdg-top-header{
  height: $top-height;
  line-height: $top-height;
  background: #062e58;
  font-size: 14px;

  .main-section{

    height: 100%;
    color: #8b919c;

    i{
      margin-right: 5px;
    }

    .tel-phone{
      float: left;
      height: 100%;
    }

    .site-nav{
      float: right;

      .nav-item{
        float: left;
        height: $top-height;
        text-align: center;
        a {
          color: #8b919c;
        }
        a:hover,a:active {
          color: #ffffff;
        }
      }
      .nav-item-split{
        float: left;
        width: 1px;
        height: 14px;
        background: #3e465c;
        margin: 11px 30px 0px 30px;
      }
    }

  }
}
